<div class="container">
  <input
    class="form-control mt-5 w-50"
    type="search"
    [(ngModel)]="searchTerm"
    (ngModelChange)="performSearch()"
  />
  <div class="d-flex justify-content-center flex-wrap col-12 py-5">
    <div *ngFor="let product of filteredProducts" class="col-3 p-2">
      <div class="card">
        <div style="height: 300px">
          <img
            src="../../../assets/imgs/{{ product?.img }}"
            class="card-img-top object-fit-cover h-100"
            alt="error on loading"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">price:{{ product.price | currency }}</p>
          <a
            [routerLink]="['/products']"
            (click)="removeProductById(product.id)"
            class="btn btn-danger px-3 float-end"
            ><i class="fa-solid fa-trash-can"></i
          ></a>
          <a
            [routerLink]="['/products', product.id]"
            class="btn btn-success text-white mx-2 float-end"
            ><i class="fa-regular fa-eye-slash"></i
          ></a>
          <a
            routerLink="/products/{{ product.id }}/edit"
            class="btn btn-warning text-white float-end"
            ><i class="fa-regular fa-pen-to-square"></i
          ></a>
        </div>
      </div>
    </div>

    <mat-paginator
      [length]="totalProducts"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5]"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
